<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact </title>
</head>
<style>
    .abt a {
        color: red;
    }
</style>

<body>
    <h1>Contact Detail In About Page</h1>
    <ul>
        <li>
            <h2 class="abt"><a href="{%url 'about'%}"><b>About Page &rarr;</b> </a></h2>
        </li>
        <li>
            <h2><a href="{%url 'home'%}">Home Page &rarr;</a></h2>
        </li>
    </ul>
</body>

</html>