{% load static %}
<section class="pf nbt-6">
  <div class="pffoot">
    <div class="pffoot__img">
      <img
        src="http://www.technick.frontroot.co/packend/images/tech-nick.png"
        alt="Nitesh Kumar"
      />
    </div>
    <div class="pffoot__info">
      <p>
        For Website Design contact us: <br />
        <a href="http://frontroot.co/contact.php" target="_blank"
          >@frontroot.co</a
        >
      </p>
      <span></span>
    </div>
    <div class="pffoot__legal">
      <p class="pf_links">
        <span
          ><a href="https://www.linkedin.com/in/nitesh-kr" target="_blank"
            ><i class="fab fa-linkedin"></i> nitesh-kr</a
          ></span
        >
        <span
          ><a href="https://github.com/Error57nk" target="_blank"
            ><i class="fab fa-github"></i> error57nk</a
          ></span
        >
        <span
          ><a href="https://www.youtube.com/c/TechNick57" target="_blank"
            ><i class="fab fa-youtube"></i> technick</a
          ></span
        >
      </p>
      <p class="nmb-0">&#169; 2021 Technick</p>
    </div>
  </div>
</section>
<p class="ft-lwr">
  Design By: <a href="https://www.linkedin.com/in/nitesh-kr">frontroot.co</a>
</p>

<div class="page-scroller">
  <a href="#"><i class="fas fa-angle-up"></i></a>
</div>

<script src="{% static 'portfolio/js/jquery.js' %}"></script>

<script src="{% static 'portfolio/js/fontawesome.min.js' %}"></script>
<script src="{% static 'blog/js/main.js' %}"></script>
